/* START rules to put the controls on the left */
#environment {
  position: relative;
  overflow: visible;
}

#environment canvas {
  position: relative;
  left: 68px;
}

#environment .bubble canvas {
  left: 0;
}

#environment .toolbar {
  position: relative;
  left: -1000px;
}

#environment.narrow .toolbar {
  position: relative;
  left: -600px;
}
/* END rules for putting the controls on the left */

.time-limit-dialog {
  display: none;
  position: absolute;
  top: 120px;
  left: 368px;  /* 18px padding + half the env width (600/2) - half the dialog width (300/2)  */
  width: 300px;
  background-color: rgb(200,200,255);
  box-shadow: 10px 10px 15px #222222;
  text-align: center;
  padding-bottom: 2em;
  border-radius: 10px;
  border: 2px solid rgb(100,100,155);
}

.time-limit-dialog.narrow {
  left: 168px;  /* 18px padding + half the env width (600/2) - half the dialog width (300/2)  */
}

#environment .bubble .content {
  height: 170px;
}

#environment .bubble .content .details {
  left: 15px;
}

.bubble .content .details .agent-property-value:nth-of-type(0n+2) {
  margin-left: 10px;
  padding-right: 16px;
  margin-bottom: 3px;
}

.bubble .content .details .agent-property-value {
  margin-left: 30px;
}

span.allele {
  display: inline-block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  box-shadow: 1px 1px 10px black;
  margin: 0 5px 5px 0;
}

span.allele:nth-child(2n+1) {
  clear: both;
}

span.allele.black {
  background-color: black;
}

span.allele.red {
  background-color: red;
}

span.allele.yellow {
  background-color: yellow;
}

span.allele.blue {
  background-color: blue;
}

.chart-container {
  position: relative;
  width: 370px;
  height: 260px;
}

#field-chart, #field-chart-2 {
  width: 350px;
  height: 260px;
}

.chow-toggle {
  z-index: 1000;
  display: block;
  position: absolute;
  width: 62px;
  height: 40px;
}

.chow-toggle:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: no-repeat url('../images/ui/on-off-with-title.png');
  background-position: 0% 101%;
  background-size: 100%;
}

.chow-toggle:before {
  content: '';
  display: block;
  position: absolute;
  top: -4px;
  left: -2px;
  width: 66px;
  height: 46px;
  background: white;
  border-radius: 4px;
}

.chow-toggle.on:after {
  background-position: 0% 0%;
}

.chow-toggle.all, .chow-toggle.north-east {
  right: 20px;
  top: 20px;
}

.chow-toggle.south-east {
  right: 20px;
  top: 390px;
}

.chow-toggle.west {
  right: 710px;
  top: 20px;
}
.authoring {
  width: 1000px;
}

.authoring .controls {
  text-align: right;
  margin-bottom: 3px;
}

#author-json {
  width: 1000px;
  height: 400px;
}

.validation-feedback {
  color: #009900;
  margin-right: 10px;
}

.validation-feedback.error {
  color: #990000;
  font-weight: bold;
}
