/* START rules to put the controls on the left */
#environment {
  position: relative;
  overflow: visible;
}

#environment canvas {
  position: relative;
  left: 68px;
}

#environment .toolbar {
  position: relative;
  left: -1000px;
}

#environment.narrow .toolbar {
  position: relative;
  left: -600px;
}
/* END rules for putting the controls on the left */

.time-limit-dialog {
  display: none;
  position: absolute;
  top: 120px;
  left: 368px;  /* 18px padding + half the env width (600/2) - half the dialog width (300/2)  */
  width: 300px;
  background-color: rgb(200,200,255);
  box-shadow: 10px 10px 15px #222222;
  text-align: center;
  padding-bottom: 2em;
  border-radius: 10px;
  border: 2px solid rgb(100,100,155);
}

.time-limit-dialog.narrow {
  left: 168px;  /* 18px padding + half the env width (600/2) - half the dialog width (300/2)  */
}

#environment .bubble .content .details {
  left: 15px;
}

.bubble .content .details .agent-property-value {
  margin-left: 70px;
}

span.allele {
  display: inline-block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 9px;
  box-shadow: 1px 1px 10px black;
  margin: 0 5px 5px 0;
}

span.allele:nth-child(2n+1) {
  clear: both;
}

span.allele.black {
  background-color: black;
}

span.allele.red {
  background-color: red;
}

span.allele.yellow {
  background-color: yellow;
}

span.allele.blue {
  background-color: blue;
}

.chart-container {
  position: relative;
  width: 370px;
  height: 260px;
}

#field-chart, #field-chart-2 {
  width: 350px;
  height: 260px;
}

.chow-toggle {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 0;
  background-repeat: no-repeat;
  background-image: url('../images/ui/chow-plus.png');
  z-index: 1000;
  border-radius: 20px;
  box-shadow: 5px 5px 10px black;
}

.chow-toggle:active {
  box-shadow: 2px 2px 5px black;
}

.chow-toggle.down {
  background-image: url('../images/ui/chow-minus.png');
}

.chow-toggle.all, .chow-toggle.north-east {
  right: 20px;
  top: 20px;
}
.chow-toggle.all:active, .chow-toggle.north-east:active  {
  right: 17px;
  top: 23px;
}

.chow-toggle.south-east {
  right: 20px;
  top: 390px;
}
.chow-toggle.south-east:active {
  right: 17px;
  top: 393px;
}

.chow-toggle.west {
  right: 710px;
  top: 20px;
}
.chow-toggle.west:active {
  right: 707px;
  top: 23px;
}
